@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: var(--text-gray);
}

:root {
    --background: #2d2c2f;
    --background-nav: transparent;
    --back-btn: #4a494d;
    --text-gray: #f0eedc; 
    --text-beige: #e1e1e1;
    --text-org: #ae6034;
    --bg-btn: #e49c68;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-nav);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 2;
}

p {
    font-size: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar_list {
    justify-content: space-between;
    gap: 25px;
}

.header_logo,
.navbar_cart {
    height: 100%;
}

.cart-label {
    height: 100%;
}

#cart-toggle {
    display: none;
}

main {
    width: 70%;
}

section {
    width: 100%;
    height: 90vh;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_info {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.hero_info h1 {
    background: linear-gradient(to bottom right, #ff9950, #9121c9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2.5em;
}

.hero_info span {
    font-weight: bold;
}

.hero_info a {
    background-color: var(--bg-btn);
    color: #2d2c2f;
    font-weight: 600;
    width: 140px;
    height: 40px;
    border-radius: 5px;
}

.hero_card {
    width: 50%;
}

.hero_card-box {
    background-color: var(--back-btn);
    border-radius: 20px;
    width: 310px;
    height: 420px;
    flex-direction: column;
    gap: 10px;
}

.hero_card-img {
    width: 90%;
    height: auto;
}

.hero_card-middle {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_card-middle h3 {
    font-weight: bold;
    font-size: 1.125em;
}

.hero_card-middle span {
    width: 45px;
    height: 25px;
    background-color: var(--text-org);
    text-align: center;
    border-radius: 10px;
}

.hero_card-bottom {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.hero_card-bottom img {
    height: 70%;
}

.hero_card-bottom__box p:nth-child(1) {
    font-size: 0.75em;
    color: var(--text-beige);
}


#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_info {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.about_info-title {
    min-width: 50%;
    font-size: 1.5em;
}

.about_info-descrp {
    width: 50%;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.about_info-descrp a {
    background-color: var(--bg-btn);
    color: #2d2c2f;
    font-weight: 600;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    text-decoration: underline;
}

.about_info-img {
    justify-content: space-evenly;
    gap: 5px;
}

.about_info-img img {
    width: 30%;
    height: auto;
}

#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cards_descrp {
    text-align: center;
    width: 70%;
}

.cards_descrp h2 {
    font-size: 1.75em;
}

.cards_container {
    gap: 20px;
}

.card_box {
    border-radius: 10px;
    width: 320px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--back-btn);
    text-align: center;
    padding: 0 20px;
}

.card_box img {
    width: 15%;
    height: auto;
}

.card_box p {
    font-weight: 100;
    font-size: 0.8em;
}

#contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contact_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_info input {
    border-radius: 5px;
    width: 50%;
    color: #2d2c2f;
}

.contact_img {
    width: 50%;
    text-align: center;
}

.contact_img::before {
    content: '';
    height: 90%;
    border: 1px solid var(--bg-btn);
    position: absolute;
    top: 0;
    left: 50%;
}


footer {
    background: var(--background);
    color: var(--bg-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}

footer a,
footer p {
    color: var(--text-gray);
    font-weight: 300;
    font-size: 14px;
}

footer span {
    font-weight: 800;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 570px) {
    html, body {
        overflow-x: hidden;
    }
    
    section {
        width: 100%;
    }

    header {
        justify-content: space-between;
    }

    #cart-toggle:checked+body {
        display: none;
    }

    .navbar {
        display: none;
    }


    #hero {
        text-align: center;
        flex-wrap: wrap;
        margin-top: 20px;
        height: 80vh;
    }    

    .hero_info {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hero_card {
        display: none;
    }

    #about {
        flex-wrap: wrap;
        flex-direction: row;
        height: 180vh;
        gap: 0;
        justify-content: center;
        align-items: center;
    }

    .about_info {
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about_info-descrp, .about_info-title {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #cards {
        margin-top: 20px;
        height: 150vh;
    }

    .cards_container {
        flex-wrap: wrap;
    }

    #contact {
        height: 100vh;
    }

    .contact_info {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .contact_img {
        display: none;
    }
}