@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --background: #121723;
    --background-nav: #232939;
    --text-gray: #adb9c7; 
    --text-beige: rgb(239, 231, 221);
    --text-org: rgb(216, 122, 7);
    --bg-btn: #293a68;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--background-nav);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header_logo,
.navbar_cart {
    height: 100%;
    cursor: pointer;
}

.navbar,
.navbar_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
}

.navbar_list li:first-child>a {
    font-weight: 600;
    color: var(--text-beige);
}

.navbar_list li>a {
    color: var(--text-gray);
}

main {
    margin-top: 70px;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    flex-wrap: wrap;
    height: 100vh;
}

.hero_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 50%;
}

.hero_info h1 {
    color: var(--text-beige);
    font-size: 2em;
}

.hero_info h1 span {
    color: var(--text-org);
}

.hero_info p {
    font-size: 1.25em;
    color: var(--text-gray);
}

.hero_info a {
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    background-color: var(--bg-btn);
    color: var(--text-beige);
    cursor: pointer;
}

.hero_img {
    width: 50%;
    height: auto;
}

#about {
    max-width: 70%;
    height: 90vh;

}

.about_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.about_info h2 {
    color: var(--text-beige);
    font-size: 1.5em;
}

.about_info p {
    text-align: center;
    color: var(--text-gray);
    font-size: 1.25em;
}

